<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/css/adminstyle.css">

    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!--<title>Admin Dashboard Panel</title>-->
</head>

<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <!--<img src="images/logo.png" alt="">-->
            </div>

            <span class="logo_name">Treasure Island Admin Page</span>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="#">
                        <i class="uil uil-estate"></i>
                        <!-- <button class="link-name">Dashboard</button> -->
                        <span class="link-name" id="dashlink" onclick=makedash() >Dahsboard</span>
                    </a></li>
                <li><a href="#">
                        <i class="uil uil-files-landscapes"></i>
                        <span class="link-name" id="userslink" onclick=makeuser() >Users</span>
                    </a></li>
                <li><a href="#">
                        <i class="uil uil-chart"></i>
                        <span class="link-name" id="analylink" onclick=makeanal() >Analytics</span>
                    </a></li>
                <li><a href="#">
                        <i class="uil uil-thumbs-up"></i>
                        <span class="link-name" id="scorelink" onclick=makescore() >Scoreboard</span>
                    </a></li>

            </ul>

           
                

                <li class="mode">
                    <a href="#">
                        <i class="uil uil-moon"></i>
                        <span class="link-name">Dark Mode</span>
                    </a>

                    <div class="mode-toggle">
                        <span class="switch"></span>
                    </div>
                </li>
            
        </div>
    </nav>

    <section class="dashboard" id="dashsection" >
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>

            

            <!--<img src="images/profile.jpg" alt="">-->
        </div>

        <div class="dash-content">
            <div class="overview">
                <div class="title">
                    <i class="uil uil-tachometer-fast-alt"></i>
                    <span class="text">Dashboard</span>
                </div>

                <div class="boxes">
                    <div class="box box1">
                        <!-- <i class="uil uil-thumbs-up"></i> -->
                        <span class="text">Total Players</span>
                        <span class="number" id="totalplayers"></span>
                    </div>
                    <div class="box box2">
                        <!-- <i class="uil uil-comments"></i> -->
                        <span class="text">Highest Completion Time</span>
                        <span class="number" id="maxtime"> </span>
                    </div>
                    <div class="box box3">
                        <!-- <i class="uil uil-share"></i> -->
                        <span class="text">Lowest Completion Time</span>
                        <span class="number" id="mintime"></span>
                    </div>
                </div>
            </div>

            <div class="activity">
                <div class="title">
                    <i class="uil uil-clock-three"></i>
                    <span class="text">Recent Activity</span>
                </div>

                <div class="activity-data">
                    <table id="recentdata"></table>
                </div>
            </div>
        </div>
    </section>

    <!-- This is Users section -->

    <section class="dashboard" id="usersection" style="display: none;">
        

        <div class="dash-content" id="usersection">

            <div class="activity">
                <div class="title">
                    <!-- <i class="uil uil-clock-three"></i> -->
                    <i class="uil uil-user"></i>
                    <span class="text">Users</span>
                </div>

                <div class="activity-data" id="activity-data">
                    <table id="data"></table>
                </div>
            </div>

    </section>


    <section class="dashboard" id="scoresection" style="display: none;">
        <div class="dash-content" id="usersection">

            <div class="activity">
                <div class="title">
                    <!-- <i class="uil uil-clock-three"></i> -->
                    <i class="uil uil-desktop-alt"></i>
                    <!-- <i class="fa-regular fa-presentation-screen"></i> -->
                    <span class="text">Scoreboard</span>
                </div>

                <div class="activity-data" id="activity-data">
                    <table id="scoreboard"></table>
                </div>
            </div>

    </section>


    <section class="dashboard" id="analsection" style="display: none;">
        <div class="dash-content" id="usersection">

            <div class="activity">
                <div class="title">
                    <!-- <i class="uil uil-clock-three"></i> -->
                    <i class="uil uil-desktop-alt"></i>
                    <!-- <i class="fa-regular fa-presentation-screen"></i> -->
                    <span class="text">Analytics</span>
                </div>

                <canvas id="bar-chart" width="800" height="450">
                </canvas>
            </div>

    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js">
    </script>
    <script src="/js/admin.js"></script>
</body>

</html>